In [1]:
import openml, fairlib
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import KBinsDiscretizer
from keras.models import Sequential
from keras.layers import Dense
from fairlib.inprocessing import Fauci

INFO:fairlib:Using Keras backend: TENSORFLOW
INFO:fairlib:fairlib loaded

In [2]:
dataset = openml.datasets.get_dataset(179)
X, y, _, names = dataset.get_data(target=dataset.default_target_attribute)

INFO:openml.datasets.dataset:pickle write adult

In [3]:
imputer = SimpleImputer(strategy='most_frequent')
X_imputed = imputer.fit_transform(X)

In [4]:
X_discretized = X_imputed.copy()
for col in X.columns:
    if X[col].dtype == 'category':
        le = LabelEncoder()
        X_discretized[:, X.columns.get_loc(col)] = le.fit_transform(X_discretized[:, X.columns.get_loc(col)])

In [5]:
adult = fairlib.DataFrame(X_discretized, columns=names)
adult['income'] = y
adult["income"] = adult["income"].apply(lambda x: x == ">50K").astype(int)
adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,income
0,2,6,77516.0,9,13,4,0,1,4,1,1,0,2,38,0
1,3,5,83311.0,9,13,2,3,0,4,1,0,0,0,38,0
2,2,3,215646.0,11,9,0,5,1,4,1,0,0,2,38,0
3,3,3,234721.0,1,7,2,5,0,2,1,0,0,2,38,0
4,1,3,338409.0,9,13,2,9,5,2,0,0,0,2,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,2,3,215419.0,9,13,0,9,1,4,0,0,0,2,38,0
48838,4,3,321403.0,11,9,6,9,2,2,1,0,0,2,38,0
48839,2,3,374983.0,9,13,2,9,0,4,1,0,0,3,38,0
48840,2,3,83891.0,9,13,0,0,3,1,1,2,0,2,38,0
48841,1,4,182148.0,9,13,2,3,0,4,1,0,0,3,38,1

In [6]:
adult.targets = "income"
adult.sensitive = 'sex' # fauci currently supports only one sensitive attribute

In [7]:
model = Sequential()
model.add(Dense(64, activation='relu'))  # Input layer and first hidden layer
model.add(Dense(32, activation='relu'))  # Second hidden layer
model.add(Dense(1, activation='sigmoid'))  # Output layer for classification

In [8]:
inprocessing = Fauci(model, loss='binary_crossentropy', regularizer='sp', optimizer='adam', metrics=['accuracy'])

In [9]:
inprocessing.fit(adult, converting_to_type=float, epochs=20, batch_size=32, validation_split=0.2)

Epoch 1/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6308 - loss: 329.1567 - val_accuracy: 0.7636 - val_loss: 220.4759
Epoch 2/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6369 - loss: 131.0642 - val_accuracy: 0.2364 - val_loss: 113.4376
Epoch 3/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6382 - loss: 89.1391 - val_accuracy: 0.7627 - val_loss: 15.1355
Epoch 4/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6365 - loss: 77.1148 - val_accuracy: 0.7636 - val_loss: 150.5125
Epoch 5/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6329 - loss: 68.3084 - val_accuracy: 0.7638 - val_loss: 50.8571
Epoch 6/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6386 - loss: 47.6121 - val_accuracy: 0.7640 - val_loss: 40.1447
Epoch 7/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6394 - loss: 44.2051 - val_accuracy: 0.7661 - val_loss: 20.9466
Epoch 8/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6341 - loss: 40.0990 - val_accuracy: 0.7658 - val_loss: 14.1348
Epoch 9/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6524 - loss: 21.3786 - val_accuracy: 0.2365 - val_loss: 32.8275
Epoch 10/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6390 - loss: 21.1197 - val_accuracy: 0.7558 - val_loss: 0.8924
Epoch 11/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6464 - loss: 16.7255 - val_accuracy: 0.7636 - val_loss: 49.1143
Epoch 12/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6474 - loss: 11.8629 - val_accuracy: 0.7638 - val_loss: 19.5089
Epoch 13/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.6554 - loss: 9.4440 - val_accuracy: 0.4336 - val_loss: 1.9032
Epoch 14/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.6617 - loss: 8.9464 - val_accuracy: 0.7864 - val_loss: 1.0513
Epoch 15/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.6599 - loss: 9.3773 - val_accuracy: 0.2374 - val_loss: 18.4279
Epoch 16/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.6687 - loss: 4.8856 - val_accuracy: 0.7793 - val_loss: 1.5845
Epoch 17/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.6836 - loss: 3.3606 - val_accuracy: 0.2462 - val_loss: 9.6829
Epoch 18/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.6748 - loss: 3.7474 - val_accuracy: 0.7663 - val_loss: 4.0398
Epoch 19/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.6798 - loss: 2.6090 - val_accuracy: 0.7669 - val_loss: 2.9757
Epoch 20/20
1222/1222 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.7055 - loss: 1.5886 - val_accuracy: 0.2754 - val_loss: 3.1637